{% extends "layout.html" %}

{% block main %}
<div class="container px-sm-3 px-md-5 px-lg-5 px-xl-5">
    <div class="pricing-header px-3 py-3 pt-md-4 pb-md-4 mx-auto text-center">
        <h3 class="display-5">Custom Text Analysis</h3>
    </div>
    <form class="px-lg-5 mx-lg-5 px-xl-5 mx-xl-5">
        <div class="form-group">
            <textarea class="form-control" rows="10" placeholder="Enter custom text for analysis"></textarea>
        </div>
        <div class="btn-group pb-3 px-md-5 px-lg-5 px-xl-5">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div> 

<script src="../static/customText.js"></script>  
{% endblock %}

{% block graph %}
<canvas id="myChart" class="px-md-5 px-lg-5 px-xl-5"></canvas>


<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="../static/drawGraph.js"></script>
{% endblock %}