<!DOCTYPE html>
<html>
<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Zeuit - Sentimental Analysis </title>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
        <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/paper/bootstrap.min.css" rel="stylesheet" integrity="sha384-awusxf8AUojygHf2+joICySzB780jVvQaVCAt1clU3QsyAitLGul28Qxb2r1e5g+" crossorigin="anonymous">
	    <script src="https://code.highcharts.com/highcharts.js"></script>
	    <script src="https://code.highcharts.com/modules/exporting.js"></script>
		<!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
		<link rel="stylesheet" type="text/css" href="/static/assets/css/bootstrap.min.css" media="all" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
		<!-- Slick nav CSS -->
		<link rel="stylesheet" type="text/css" href="/static/assets/css/slicknav.min.css" media="all" />
		<!-- Iconfont CSS -->
		<link rel="stylesheet" type="text/css" href="/static/assets/css/icofont.css" media="all" />
		<!-- Slick CSS -->
		<link rel="stylesheet" type="text/css" href="/static/assets/css/slick.css">

		<link rel="stylesheet" href="/static/assets/css/font-awesome.min.css">
		<!-- Owl carousel CSS -->
		<link rel="stylesheet" type="text/css" href="/static/assets/css/owl.carousel.css">
		<!-- Popup CSS -->
		<link rel="stylesheet" type="text/css" href="/static/assets/css/magnific-popup.css">
		<!-- Switcher CSS -->
		<link rel="stylesheet" type="text/css" href="/static/assets/css/switcher-style.css">
		<!-- Animate CSS -->
		<link rel="stylesheet" type="text/css" href="/static/assets/css/animate.min.css">
		<!-- Main style CSS -->
		<link rel="stylesheet" type="text/css" href="/static/assets/css/style.css" media="all" />
		<!-- Responsive CSS -->
		<link rel="stylesheet" type="text/css" href="/static/assets/css/responsive.css" media="all" />
		<!-- Favicon Icon -->
		<link rel="icon" type="image/png" href="/static/assets/img/favcion.png" />
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body data-spy="scroll" data-target=".header" data-offset="50">
		<!-- Page loader -->
	    <div id="preloader"></div>
		<!-- header section start -->
		<header class="header">
			<div class="container">
				<div class="row flexbox-center">
					<div class="col-lg-2 col-md-3 col-6">
						<div class="logo">
							<a href="index.html" style="color: white; font-size: 160%;">Zeuit</a>
						</div>
					</div>
					<div class="col-lg-10 col-md-9 col-6">
						<div class="responsive-menu"></div>
					    <div class="mainmenu">
                            <ul id="primary-menu">
                                <li><a class="nav-link active" href="#home">Zeuit</a></li>
                                <li><a class="nav-link" href="/twitter">Twitter</a></li>
                                <li><a class="nav-link" href="/reddit">Reddit</a></li>
                                <li><a class="nav-link" href="/custom">Custom Text</a></li>
                                <li><a class="appao-btn" href="index.html">Home</a></li>
                            </ul>
					    </div>
					</div>
				</div>
			</div>
		</header><!-- header section end -->
		<!-- breadcrumb area start -->
		<section class="hero-area breadcrumb-area">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="hero-area-content">
							<h1>Twitter</h1>
                            <ul>
                                <li><a href="/templates/index.html">Home</a></li>
                                <li><a href="/templates/reddit.html">Twitter</a></li>
                            </ul>
						</div>
					</div>
				</div>
			</div>
		</section><!-- breadcrumb area end -->
<body>
	<div class='container-fluid container about-area ptb-90'>
		<div class='text-center'>
			<div id="search_box" class="container-fluid container">
				<input type="text" id="query">
				<button id="search">Search</button>
				<button id="getcsv">Download CSV</button>
				<div id="loading">Loading...</div>
				<div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>

			</div>
			  </div>

		</div>
		<div>
			<div class="md5-card container about-area ptb-90">

		<div id="tweets"></div>
	</div>
        </div>
	<script type="text/javascript">

	 var current_data;

		function sentiment_to_color(sentiment){
			if(sentiment == 'positive') return 'panel-success';
			else if(sentiment == 'negative') return 'panel-danger';
			else return 'panel-primary';
		}

		function load_tweets(querystring){
			$.ajax({
			    url: 'tweets',
			    data: {'query': querystring, 'retweets_only': 'false', 'with_sentiment': 'true'},
			    dataType: 'json',
			    type: 'GET',
			    success: function(data) {
			    	buildChart(data);
			    	current_data = data['data'];
			        var tweets = data['data'];
			        var container = $('#tweets');
			        var contents = '';
			        contents+='<div>'

			        for(i = 0; i < tweets.length; i++){
			        	contents+= '<div class="panel '+ sentiment_to_color(tweets[i].sentiment) +'"> <div class="panel-heading"> <h3 class="panel-title">'+ tweets[i].user +'</h3> </div> <div class="panel-body"><blockquote>'+ tweets[i].text + '</blockquote> </div> </div>'
                        // contents += '<li class="list-group-item '+ sentiment_to_color(tweets[i].sentiment) +'">'+ tweets[i].user + ": " + tweets[i].text + '</li>';
			        }

                    contents+='</div>';
			        container.html(contents);
			        $('#query').val(querystring);
			        $('#loading').html(data['count'] + " Tweets loaded about "+ querystring +".");
			    }
			});
		}

		function get_csv(json){
			var fields = Object.keys(json[0]);
			var csv = json.map(function(row){
			  return fields.map(function(fieldName){
			    return JSON.stringify(row[fieldName] || '');
			  });
			});
			csv.unshift(fields);
			return csv.join('\r\n');
		}

		function download(filename, text) {
		  var element = document.createElement('a');
		  element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
		  element.setAttribute('download', filename);

		  element.style.display = 'none';
		  document.body.appendChild(element);

		  element.click();

		  document.body.removeChild(element);
		}

		$(document).ready(function(){
			load_tweets('Dangote');
		});

		$('#search').click(function(){
			$('#loading').html('Loading...');
			$('#tweets').html('');
			load_tweets($('#query').val());
		});

		$('#getcsv').click(function(){
			download('data.csv', get_csv(current_data));
		});
	function buildChart(data) {
    Highcharts.chart('container', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'last 1000 tweets on '+$('#query').val()
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: getPercentage(data)
    });
};
function getNegativePercentage(data) {
	var current_data = data['data'];
	var counter = 0 ;
	for (var i = current_data.length - 1; i >= 0; i--) {
		if(current_data[i].sentiment == 'negative')
			counter ++;
	}
		console.log('negative',counter)

	return counter/data.count;
}
function getPositivePercentage(data) {
	var current_data = data['data'];
	var counter = 0 ;
	for (var i = current_data.length - 1; i >= 0; i--) {
		if(current_data[i].sentiment == 'positive')
			counter ++;
	}
		console.log('positive',counter)

	return counter/data.count;
}
function getNeutralPercentage(data) {
	var current_data = data['data'];
	var counter = 0 ;
	for (var i = current_data.length - 1; i >= 0; i--) {
		if(current_data[i].sentiment == 'neutral')
			counter ++;
	}
	console.log('neutral',counter)
	return counter/data.count;
}
function getPercentage(data) {
	var neutral = getNeutralPercentage(data);
	var positive = getPositivePercentage(data);
	var negative = getNegativePercentage(data);

	return [{
            name: 'Tweets',
            //colorByPoint: true,
            data: [{
                name: 'Positive',
                y: positive
            }, {
                name: 'Negative',
                y: negative,
                sliced: true,
                selected: true
            }, {
                name: 'Neutral',
                y: neutral
            }]
        }]
	// body...
}

	</script>
<footer class="footer" id="contact">
			<div class="container">
				<div class="row">
                    <div class="col-lg-12">
						<div class="copyright-area">
							<p>&copy; <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://codedatt.com" target="_blank">Codedatt</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
						</div>
                    </div>
				</div>
			</div>
		</footer><!-- footer section end -->
		<a href="#" class="scrollToTop">
			<i class="icofont icofont-arrow-up"></i>
		</a>

		<!-- jquery main JS -->
		<script src="/static/assets/js/jquery.min.js"></script>
		<!-- Bootstrap JS -->
		<script src="/static/assets/js/bootstrap.min.js"></script>
		<!-- Slick nav JS -->
		<script src="/static/assets/js/jquery.slicknav.min.js"></script>
		<!-- Slick JS -->
		<script src="/static/assets/js/slick.min.js"></script>
		<!-- owl carousel JS -->
		<script src="/static/assets/js/owl.carousel.min.js"></script>
		<!-- Popup JS -->
		<script src="/static/assets/js/jquery.magnific-popup.min.js"></script>
		<!-- Counter JS -->
		<script src="/static/assets/js/jquery.counterup.min.js"></script>
		<!-- Counterup waypoints JS -->
		<script src="/static/assets/js/waypoints.min.js"></script>
	    <!-- YTPlayer JS -->
	    <script src="/static/assets/js/jquery.mb.YTPlayer.min.js"></script>
		<!-- jQuery Easing JS -->
		<script src="/static/assets/js/jquery.easing.1.3.js"></script>
		<!-- Gmap JS -->
		<script src="/static/assets/js/gmap3.min.js"></script>
        <!-- Google map api -->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBnKyOpsNq-vWYtrwayN3BkF3b4k3O9A_A"></script>
		<!-- Custom map JS -->
		<script src="/static/assets/js/custom-map.js"></script>
		<!-- WOW JS -->
		<script src="/static/assets/js/wow-1.3.0.min.js"></script>
		<!-- Switcher JS -->
		<script src="/static/assets/js/switcher.js"></script>
		<!-- main JS -->
		<script src="/static/assets/js/main.js"></script>
        <script src="../static/reddit.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
        <script src="../static/drawGraph.js"></script>
	</body>
</body>
</html>
